:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text color */

  --main-txt-color: #303030;
  --secondary-txt-dark: rgba(157, 164, 189, 0.6);
  --secondary-txt-ligth: #9da4bd;
  --secondary-txt-grey: #555555;
  --accent-color: #ff6c00;
  --primary-white-color: #ffffff;

  /* background colors*/
  --bg-dark: #191c26;
  --bg-grey: #f7f7f7;

  /* others */
  --indent: 30px;
  --items: 3;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Base style */
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.uppertitle-mode-light {
  color: var(--main-txt-color);
}
.uppertitle-mode-dark {
  color: var(--secondary-txt-dark);
}

.section-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.section-title-mode-light {
  color: var(--primary-white-color);
  margin-bottom: 40px;
}
.section-title-mode-dark {
  margin-bottom: 24px;
}
.subtitle {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 20px;
}

/* card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* button styles */

.btn {
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.dark-btn {
  color: var(--primary-white-color);
}
.slider-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  background-color: transparent;
  color: var(--primary-white-color);
}

.price-btn {
  display: block;
  margin: 0 auto;
}
/* header section*/
.header {
  background-color: var(--bg-dark);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 71px;
}
.header-nav {
  margin-right: auto;
}
.header-list {
  display: flex;
  gap: var(--indent);
}

.header-phone {
  margin-right: 40px;
}
.header-link,
.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--primary-white-color);
  padding-top: 52px;
  padding-bottom: 52px;
}

.header-link:hover,
.header-phone:hover,
.header-link:focus,
.header-phone:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* hero section */
.hero {
  background-color: var(--bg-dark);
}

.main-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-desc {
  color: var(--secondary-txt-ligth);
}

/* About section */
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: var(--indent);
  margin-right: auto;
}
.about-content {
  flex-basis: 540px;
}
.about-subtitle {
  color: var(--secondary-txt-grey);
}
.description {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-txt-grey);
  margin-bottom: 40px;
}
/* price section */
.price-section {
  background-color: var(--bg-dark);
}
.price-list {
  display: flex;
  margin-bottom: 50px;
}

.price-item {
  flex-basis: 50%;

  padding: 30px 40px;
}
.price-inner-list {
  color: var(--secondary-txt-ligth);
}
.price-inner-item {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.price-inner-item:last-child {
  margin-bottom: 0;
}
/* Choose section */
.choose-container {
  display: flex;
}
.choose-list {
  flex-basis: 540px;
  margin-right: 130px;
}
.choose-content {
  flex-basis: 540px;
}
/* masters section */
.masters {
  background-color: var(--bg-grey);
}
.masters-title {
  margin-bottom: 44px;
}

.master-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.master-subtitle {
  margin-bottom: 8px;
}
.master-desc {
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.master-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
/* portfolio section */
.portfolio-uppertitle {
  margin-bottom: 44px;
}

.portfolio-list {
  --items: 4;
}

/* contacts section */
.contacts {
  background-color: var(--bg-dark);
}
.contacts-container {
  display: flex;
}
.contact-title {
  color: var(--primary-white-color);
}
.form-list {
  flex-basis: 565px;
  display: flex;
  flex-wrap: wrap;
}
.contacts-group {
  flex-basis: 565px;
}
.contacts-address {
  font-style: inherit;
  color: var(--secondary-txt-ligth);
}
.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.contacts-time {
  color: var(--secondary-txt-ligth);
}

/* footer section*/

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--secondary-txt-ligth);
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
