:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text color */

  /* color: #9DA4BD; 
  color: rgba(157, 164, 189, 0.6);
    color: #555555; */

  --main-txt-cl: #303030;
  --accent-cl: #ff6c00;
  --primary-white-cl: #ffffff;

  /* background */
  --bg-dark: #191c26;
  --bg-grey: #f7f7f7;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}
/* reset styles */
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}

/* header */
.header-link,
.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
}

.header-link:hover,
.header-phone:hover,
.header-link:focus,
.header-phone:focus {
  color: var(--accent-cl);
}

.current {
  color: var(--accent-cl);
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.btn:hover {
  background: var(--accent-cl);
}

.dark-btn {
  color: var(--primary-white-cl);
}
.header {
  background-color: var(--bg-dark);
}

/* .btn:hover,
.btn:focus {
  color: var(--btn-txt-cl);
  background-color: var(--accent-txt-cl);
}
.btn-mode-light {
  color: var(--main-txt-cl);
}
.btn-mode-dark {
  color: var(--btn-txt-cl);
} */

/* hero section */
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-cl);
}
