.about{
    @extend %section;
}


.about__container {
    // display: flex;
}

.about__list {
    @extend %reset-list;
    display: none;
    // display: flex;
    // gap: var(--indent);
}

.about__content {
    // margin-left: 64px;
    // flex-basis: 540px;
}

.about__uppertitle {
    margin-bottom: 20px;
    @media screen and (min-width:1200px){
        margin-bottom: 24px;
    }

}

.about__section-title{
    max-width: 350px;
}

.about__subtitle {
    color: var(--secondary-txt-grey);
    margin-bottom: 20px;
}

.about__desc {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-txt-grey);
}