.about{
    @extend %section;
}


.about__container {
    @media screen and (min-width:768px){
    display: flex;
    gap: 30px;
    @media screen and (min-width:1200px){
gap: 64px;
    }
}
    
}

.about__list {
    @extend %reset-list;
    display: none;

    @media screen and (min-width:768px){
        display: flex;
        flex-direction: column;
        gap: var(--indent);

    }
        @media screen and (min-width:1200px) {
            flex-direction: row;
        }
}

.about__content {
        flex-basis: 380px;
        @media screen and (min-width:1200px) {
                flex-basis: 540px;
            }

}

.about__uppertitle {
    margin-bottom: 20px;

    @media screen and (min-width:1200px){
        margin-bottom: 24px;
    }

}

.about__title{
    @media screen and (max-width: 1199px) {
            max-width: 380px;
        }
}

.about__subtitle {
    color: var(--secondary-txt-grey);
    margin-bottom: 20px;
}

.about__desc {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-txt-grey);
}