.hero {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;


    background-image:
    //  url(../images/hero/slider3.jpg),
        linear-gradient(to right, rgb(255, 255, 255) 155px, rgba(25, 28, 38, 0.2) 155px);
background-color: rgba(34, 32, 32, 0.5);
    // background-repeat: no-repeat;
    // background-position: right, center;
    // background-size: contain;
    
    
}

.hero__container {
    @media screen and (min-width:768px) {
        display: flex;
    }
    
   }


.hero__left-side {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
            align-items: flex-end;
            flex-basis: 100px;
            max-width: 100px;
    }
   
}

.hero__right-side {
    position: relative;
    flex-grow: 1;
    padding-top: 208px;
    padding-bottom: 183px;
   

    @media screen and (min-width:768px){
        padding-top: 272px;
        padding-bottom: 245px;
        padding-left: 120px;
    }
    @media screen and (min-width:1200px) {
            padding-bottom: 206px;
            padding-left: 100px;
    }
}

.hero__uppertitle {
    margin-bottom: 24px;
}

.hero__desc {
    width: 306px;
    font-size: 16px;
   
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--secondary-txt-ligth);

    @media screen and (min-width:1200px) {
        width: 500px;
        font-size: 18px;
  }
}