
.logo {
    @extend %reset-link;
    color: var(--main-txt-color);
    transition: color var(--anim-fast);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
    
    &--white {
        color: var(--primary-white-color);
                }        
}

.logo__icon {
       fill: currentColor;
   }

.header__logo {
    margin-right: 71px;
}


