.uppertitle {
    display: flex;
    align-items: center;
    gap: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &::before {
            content: '';
            display: inline-block;
            height: 1px;
            width: 60px;
        }
    &--mode-light {
            color: var(--main-txt-color);

         &::before {
            background-color: var(--main-txt-color);
            }
        }
     &--mode-dark {
            color: var(--secondary-txt-dark);
        &::before {
            background-color: var(--secondary-txt-dark);
                }
        }
}

.section-title {
    font-family: var(--secondary-font);
    font-size: 28px;
    
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;

    @media screen  and (min-width:768px){
                font-size: 42px;
        
    }
    
    &--mode-light {
            color: var(--primary-white-color);
            margin-bottom: 40px;
        }
    
    &--mode-dark {
            margin-bottom: 24px;
        }
}



.subtitle {
    font-size: 16px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    font-weight: 400;
    
@media  screen and (min-width:1200px) {
    font-size: 18px;
}

}

.main-title {
    margin-bottom: 20px;

    font-family: var(--secondary-font);
    font-size: 48px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;
    color: var(--primary-white-color);

    @media screen and (min-width:1200px) {
        font-size: 72px;
    }
}
